# URLs dos microsserviços
# Em produção, troque por https://seu-servico.onrender.com
VITE_AUTH_URL=http://localhost:3001
VITE_REGISTER_URL=http://localhost:3000
VITE_HISTORICO_URL=http://localhost:3002